@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


@font-face {
    font-family: 'Pokemon';
    src: url(fonts/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family: 'minha fonte';
    src: url(fonts/Brightly\ Crush\ Shine.otf);
}

h1{
    font-family: 'minha fonte';
    font-size: 36pt;
}

p{
    font-family: 'Comforter Brush', cursive;
}